name: build main.py
on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: load content
              uses: actions/checkout@v2
              
            - name: load python
              uses: actions/setup-python@v4
              with:
                python-version: '3.10'
            - name: Install dependencies
              run: pip install openai
            - name: start AI 
              env:
                TOKEN: ${{ secrets.OPEN_AI_KEY }}
              run: python main.py